{{#bs-form class="form-with-navbar"}}
    <div class={{if errors.category 'form-group has-error' 'form-group'}}>
        <label for="category" class="control-label">Category</label>
        {{input id="category" class="form-control" value=model.category }}
        {{#if errors.category}}
        <small class="help-block">{{errors.category}}</small>
        {{/if}}
    </div>
    <div class={{if errors.content 'form-group has-error' 'form-group'}}>
        <label for="content" class="control-label">Content</label>
        {{textarea id="content" class="form-control" value=model.content }}
        {{#if errors.content}}
        <small class="help-block">{{errors.content}}</small>
        {{/if}}
    </div>
    <div class={{if errors.choices 'form-group has-error' 'form-group'}}>
        <label class="control-label">Choices</label>
        <ul class="list-group">
        {{#each model.choices as |choice|}}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                    {{input value=choice.text class="form-control" placeholder="Enter your answer"}}
                    </div>
                    <div class="col-xs-3 checkbox">
                        <label class="control-label">
                            {{input checked=choice.correct type="checkbox" }}
                            Correct
                        </label>
                    </div>
                </div>
            </li>
        {{/each}}
        </ul>
        {{#if errors.choices}}
        <small class="help-block">{{errors.choices}}</small>
        {{/if}}
        <button {{action 'addChoice'}} class="btn btn-success btn-sm">Add choice</button>
    </div>
    <div class={{if errors.explanation 'form-group has-error' 'form-group'}}>
        <label for="explanation" class="control-label">Explanation</label>
        <p class="help-block">Full explanation on the correct answer (e.g. book and verse)</p>
      {{textarea id="explanation" class="form-control" value=model.explanation rows="10" }}
      {{#if errors.content}}
          <small class="help-block">{{errors.explanation}}</small>
      {{/if}}
    </div>
    <div class="navbar navbar-fixed-bottom text-center">
        <button class="btn btn-primary" {{action 'save' model}}>Save</button>
        <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
    </div>
{{/bs-form}}
